# K-Prototype-Clustering

## Why K-Prototype Clustering?

The k-means based methods are efficient for processing large data sets, but they are often limited to numeric data. 

Kmeans optimize a cost function defined on the Euclidean distance
measure between data points and means of clusters. 

Minimizing the cost function by
calculating means limits their use to numeric data.

This is where K-Prototype shines. When applied to numeric data the algorithm is identical to k-means. 

For categorical data algorithm uses a simple matching dissimilarity measure
, replaces the means of clusters with modes, and uses a frequency-based method to
update modes in the clustering process to minimize the clustering cost function.

## Installing

In [0]:
! pip install -q kmodes

## Applying to Data

In [0]:
import numpy as np
import pandas as pd
from kmodes.kprototypes import KPrototypes

In [0]:
marketing_df = pd.read_csv('https://raw.githubusercontent.com/srivatsan88/YouTubeLI/master/dataset/marketing_cva_f.csv')

In [4]:
marketing_df.head()

  Customer       State  ...  Vehicle_Class avg_vehicle_age
0  BU79786  Washington  ...   Two-Door Car       40.696695
1  AI49188      Nevada  ...   Two-Door Car       48.755298
2  HB64268  Washington  ...  Four-Door Car       70.394474
3  OC83172      Oregon  ...   Two-Door Car       53.460212
4  XZ87318      Oregon  ...  Four-Door Car       32.811507

[5 rows x 12 columns]

In [0]:
# Removing some unnecesary columns
marketing_df = marketing_df.drop(['Customer','Vehicle_Class','avg_vehicle_age','months_last_claim','Total_Claim_Amount'],axis=1)

In [8]:
# Most columns are categorical now
marketing_df.head()

        State           CLV  ... monthly_premium  Months_Since_Policy_Inception
0  Washington   2763.519279  ...              69                              5
1      Nevada  12887.431650  ...             108                             38
2  Washington   2813.692575  ...              73                             44
3      Oregon   8256.297800  ...              69                             94
4      Oregon   5380.898636  ...              67                             13

[5 rows x 7 columns]

In [0]:
# Creating a numpy array
mark_array = marketing_df.values

In [10]:
print(mark_array.shape)

(6817, 7)

In [0]:
# typecast the integer columns to float
mark_array[:, 1] = mark_array[:, 1].astype(float)
mark_array[:, 3] = mark_array[:, 3].astype(float)
mark_array[:, 5] = mark_array[:, 5].astype(float)
mark_array[:, 6] = mark_array[:, 6].astype(float)

In [17]:
# Using K-prototype
kproto = KPrototypes(n_clusters=3, verbose=1, max_iter=20)
clusters = kproto.fit_predict(mark_array, categorical=[0, 2, 4])

Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 1751, ncost: 791401986804.418
Run: 1, iteration: 2/20, moves: 335, ncost: 785619626647.1771
Run: 1, iteration: 3/20, moves: 41, ncost: 785541835808.0706
Run: 1, iteration: 4/20, moves: 2, ncost: 785541255349.355
Run: 1, iteration: 5/20, moves: 0, ncost: 785541255349.355
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 2077, ncost: 860274609656.4653
Run: 2, iteration: 2/20, moves: 638, ncost: 813095270310.2484
Run: 2, iteration: 3/20, moves: 396, ncost: 794167173703.8223
Run: 2, iteration: 4/20, moves: 201, ncost: 788858059321.6635
Run: 2, iteration: 5/20, moves: 123, ncost: 786870228602.3741
Run: 2, iteration: 6/20, moves: 87, ncost: 785903097925.9777
Run: 2, iteration: 7/20, moves: 51, ncost: 785606912443.4153
Run: 2, iteration: 8/20, moves: 18, ncost: 785557453367.904
Run: 2, iteration: 9/20, moves: 7, ncost: 785550664653.3424
Run: 2, iteration: 10/20, moves: 7, ncost: 785545634415.1553
Run: 2, iteration: 11/20, moves: 0, ncost: 785545634415.1553
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 692, ncost: 818550188012.232
Run: 3, iteration: 2/20, moves: 398, ncost: 796856074860.273
Run: 3, iteration: 3/20, moves: 249, ncost: 788451827975.996
Run: 3, iteration: 4/20, moves: 106, ncost: 786724122506.1991
Run: 3, iteration: 5/20, moves: 69, ncost: 786018749473.7965
Run: 3, iteration: 6/20, moves: 49, ncost: 785740155958.5568
Run: 3, iteration: 7/20, moves: 28, ncost: 785655117685.7759
Run: 3, iteration: 8/20, moves: 15, ncost: 785613961116.1895
Run: 3, iteration: 9/20, moves: 15, ncost: 785587014534.5713
Run: 3, iteration: 10/20, moves: 6, ncost: 785580196116.0239
Run: 3, iteration: 11/20, moves: 4, ncost: 785577307058.1287
Run: 3, iteration: 12/20, moves: 4, ncost: 785574087818.5054
Run: 3, iteration: 13/20, moves: 3, ncost: 785572843787.3959
Run: 3, iteration: 14/20, moves: 0, ncost: 785572843787.3959
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 829, ncost: 801209819109.3268
Run: 4, iteration: 2/20, moves: 306, ncost: 789129175612.6161
Run: 4, iteration: 3/20, moves: 132, ncost: 786769791840.2693
Run: 4, iteration: 4/20, moves: 71, ncost: 786029124875.1237
Run: 4, iteration: 5/20, moves: 51, ncost: 785740155958.5569
Run: 4, iteration: 6/20, moves: 28, ncost: 785655117685.7762
Run: 4, iteration: 7/20, moves: 15, ncost: 785613961116.1897
Run: 4, iteration: 8/20, moves: 15, ncost: 785587014534.5712
Run: 4, iteration: 9/20, moves: 6, ncost: 785580196116.0236
Run: 4, iteration: 10/20, moves: 4, ncost: 785577307058.1285
Run: 4, iteration: 11/20, moves: 4, ncost: 785574087818.505
Run: 4, iteration: 12/20, moves: 3, ncost: 785572843787.3956
Run: 4, iteration: 13/20, moves: 0, ncost: 785572843787.3956
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 390, ncost: 796691953334.5961
Run: 5, iteration: 2/20, moves: 237, ncost: 788567904276.2228
Run: 5, iteration: 3/20, moves: 111, ncost: 786724122506.1991
Run: 5, iteration: 4/20, moves: 69, ncost: 786018749473.7965
Run: 5, iteration: 5/20, moves: 49, ncost: 785740155958.5568
Run: 5, iteration: 6/20, moves: 28, ncost: 785655117685.7759
Run: 5, iteration: 7/20, moves: 15, ncost: 785613961116.1897
Run: 5, iteration: 8/20, moves: 15, ncost: 785587014534.5714
Run: 5, iteration: 9/20, moves: 6, ncost: 785580196116.0234
Run: 5, iteration: 10/20, moves: 4, ncost: 785577307058.1283
Run: 5, iteration: 11/20, moves: 4, ncost: 785574087818.5052
Run: 5, iteration: 12/20, moves: 3, ncost: 785572843787.3959
Run: 5, iteration: 13/20, moves: 0, ncost: 785572843787.3959
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/20, moves: 1261, ncost: 886541568649.3827
Run: 6, iteration: 2/20, moves: 663, ncost: 822228906936.5126
Run: 6, iteration: 3/20, moves: 432, ncost: 797854831966.092
Run: 6, iteration: 4/20, moves: 256, ncost: 789817102746.2429
Run: 6, iteration: 5/20, moves: 142, ncost: 787191295336.949
Run: 6, iteration: 6/20, moves: 88, ncost: 786118951908.8776
Run: 6, iteration: 7/20, moves: 65, ncost: 785639281247.7821
Run: 6, iteration: 8/20, moves: 22, ncost: 785566620155.1418
Run: 6, iteration: 9/20, moves: 10, ncost: 785551468522.3027
Run: 6, iteration: 10/20, moves: 6, ncost: 785546422486.7771
Run: 6, iteration: 11/20, moves: 2, ncost: 785545634415.1554
Run: 6, iteration: 12/20, moves: 0, ncost: 785545634415.1554
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/20, moves: 1226, ncost: 789993493569.2593
Run: 7, iteration: 2/20, moves: 156, ncost: 786914952570.1075
Run: 7, iteration: 3/20, moves: 78, ncost: 786053429595.3314
Run: 7, iteration: 4/20, moves: 50, ncost: 785763012484.4812
Run: 7, iteration: 5/20, moves: 27, ncost: 785671819777.9939
Run: 7, iteration: 6/20, moves: 12, ncost: 785637328531.6128
Run: 7, iteration: 7/20, moves: 21, ncost: 785592464242.3937
Run: 7, iteration: 8/20, moves: 9, ncost: 785580196116.0236
Run: 7, iteration: 9/20, moves: 4, ncost: 785577307058.1284
Run: 7, iteration: 10/20, moves: 4, ncost: 785574087818.505
Run: 7, iteration: 11/20, moves: 3, ncost: 785572843787.3958
Run: 7, iteration: 12/20, moves: 0, ncost: 785572843787.3958
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/20, moves: 1465, ncost: 788664455819.6418
Run: 8, iteration: 2/20, moves: 257, ncost: 785596153110.8223
Run: 8, iteration: 3/20, moves: 35, ncost: 785541085723.4725
Run: 8, iteration: 4/20, moves: 1, ncost: 785540918453.7343
Run: 8, iteration: 5/20, moves: 0, ncost: 785540918453.7343
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/20, moves: 1720, ncost: 994351672604.7463
Run: 9, iteration: 2/20, moves: 991, ncost: 845124368466.901
Run: 9, iteration: 3/20, moves: 545, ncost: 805786411141.1333
Run: 9, iteration: 4/20, moves: 341, ncost: 790720518528.0822
Run: 9, iteration: 5/20, moves: 169, ncost: 787084768079.4451
Run: 9, iteration: 6/20, moves: 81, ncost: 786125919163.3331
Run: 9, iteration: 7/20, moves: 45, ncost: 785853642322.041
Run: 9, iteration: 8/20, moves: 37, ncost: 785682196859.6213
Run: 9, iteration: 9/20, moves: 12, ncost: 785652773397.513
Run: 9, iteration: 10/20, moves: 16, ncost: 785609292387.8527
Run: 9, iteration: 11/20, moves: 13, ncost: 785587014534.5714
Run: 9, iteration: 12/20, moves: 6, ncost: 785580196116.0238
Run: 9, iteration: 13/20, moves: 4, ncost: 785577307058.1283
Run: 9, iteration: 14/20, moves: 4, ncost: 785574087818.5054
Run: 9, iteration: 15/20, moves: 3, ncost: 785572843787.3958
Run: 9, iteration: 16/20, moves: 0, ncost: 785572843787.3958
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/20, moves: 1385, ncost: 811360172790.6012
Run: 10, iteration: 2/20, moves: 579, ncost: 787653359659.6619
Run: 10, iteration: 3/20, moves: 94, ncost: 786392796711.3872
Run: 10, iteration: 4/20, moves: 60, ncost: 785920098039.9115
Run: 10, iteration: 5/20, moves: 43, ncost: 785698684485.5096
Run: 10, iteration: 6/20, moves: 17, ncost: 785655117685.776
Run: 10, iteration: 7/20, moves: 15, ncost: 785613961116.1897
Run: 10, iteration: 8/20, moves: 15, ncost: 785587014534.5714
Run: 10, iteration: 9/20, moves: 6, ncost: 785580196116.0239
Run: 10, iteration: 10/20, moves: 4, ncost: 785577307058.1284
Run: 10, iteration: 11/20, moves: 4, ncost: 785574087818.505
Run: 10, iteration: 12/20, moves: 3, ncost: 785572843787.3959
Run: 10, iteration: 13/20, moves: 0, ncost: 785572843787.3959
Best run was number 8

In [18]:
print(kproto.cluster_centroids_)

[array([[8.05507106e+03, 8.29810393e+04, 9.09618363e+01, 4.76133850e+01],
       [8.31971978e+03, 5.47364709e+04, 9.50943747e+01, 4.91492329e+01],
       [8.03516014e+03, 2.66601263e+04, 9.26249125e+01, 4.69804059e+01]]), array([['California', 'Basic', 'Suburban'],
       ['California', 'Basic', 'Suburban'],
       ['California', 'Basic', 'Suburban']], dtype='<U10')]

In [19]:
print(clusters)

[1 1 1 ... 0 2 2]

In [0]:
cluster_l=[]
for c in clusters:
    cluster_l.append(c)

In [0]:
marketing_df['cluster'] = cluster_l

In [23]:
marketing_df.head()

        State           CLV  ... Months_Since_Policy_Inception  cluster
0  Washington   2763.519279  ...                             5        1
1      Nevada  12887.431650  ...                            38        1
2  Washington   2813.692575  ...                            44        1
3      Oregon   8256.297800  ...                            94        1
4      Oregon   5380.898636  ...                            13        1

[5 rows x 8 columns]

In [24]:
marketing_df[marketing_df['cluster']== 0].head(10)

         State           CLV  ... Months_Since_Policy_Inception  cluster
7   California   8798.797003  ...                            82        0
8      Arizona   8819.018934  ...                            25        0
9   California   5384.431665  ...                            10        0
19      Oregon   5802.065978  ...                             1        0
21     Arizona  12902.560140  ...                            54        0
22      Oregon   3235.360468  ...                            44        0
27     Arizona   5744.229745  ...                            40        0
34  Washington   2443.665166  ...                            56        0
53      Oregon  22643.834780  ...                            12        0
56      Oregon   4974.801539  ...                            68        0

[10 rows x 8 columns]

In [25]:
marketing_df[marketing_df['cluster']== 1].head(10)

         State           CLV  ... Months_Since_Policy_Inception  cluster
0   Washington   2763.519279  ...                             5        1
1       Nevada  12887.431650  ...                            38        1
2   Washington   2813.692575  ...                            44        1
3       Oregon   8256.297800  ...                            94        1
4       Oregon   5380.898636  ...                            13        1
13      Oregon   5710.333115  ...                             1        1
14  California   8162.617053  ...                            21        1
15      Oregon   2872.051273  ...                            21        1
24      Nevada  18975.456110  ...                            14        1
25  Washington   5018.885233  ...                            17        1

[10 rows x 8 columns]

In [26]:
marketing_df[marketing_df['cluster']== 2].head(10)

         State           CLV  ... Months_Since_Policy_Inception  cluster
5       Oregon  24127.504020  ...                             3        2
6       Oregon   7388.178085  ...                             7        2
10      Oregon   7463.139377  ...                            50        2
11      Nevada   2566.867823  ...                             7        2
12  California   3945.241604  ...                            59        2
16  Washington   3041.791561  ...                            49        2
17     Arizona  24127.504020  ...                             3        2
18  California   2392.107890  ...                            91        2
20  Washington   5346.916576  ...                            64        2
23     Arizona   2454.583540  ...                             6        2

[10 rows x 8 columns]